<!DOCTYPE html>
<html>
<head>
	<title>
		NANANANAN AYE AYE
	</title>
</head>
<body>
<center>
	<table border="1">
		
			<tr>
				<th rowspan="2">No</th>
				<th rowspan="2">Mata Pelajaran</th>
				<th rowspan="2">KKM</th>
				<th colspan="2">Nilai</th>
				<th rowspan="2">Deskripsi Kemajuan Belajar</th>
			</tr>
		
			<tr>
				<th>Angka</th>
				<th>Huruf</th>
			</tr>
			<tr>
				<td colspan="7"><b>A. Kelompok A (Muatan Nasional)</b></td>
			</tr>
			<tr>
				<td>1</td>
				<td>Pendidikan Agama dan Budi Pekerti</td>\
				<td>75</td>
				<td>90</td>
				<td>Sembilan Puluh</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Pendidikan Agama dan Budi Pekerti</td>\
				<td>75</td>
				<td>90</td>
				<td>Sembilan Puluh</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Pendidikan Agama dan Budi Pekerti</td>\
				<td>75</td>
				<td>90</td>
				<td>Sembilan Puluh</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Pendidikan Agama dan Budi Pekerti</td>\
				<td>75</td>
				<td>90</td>
				<td>Sembilan Puluh</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Pendidikan Agama dan Budi Pekerti</td>\
				<td>75</td>
				<td>90</td>
				<td>Sembilan Puluh</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Pendidikan Agama dan Budi Pekerti</td>\
				<td>75</td>
				<td>90</td>
				<td>Sembilan Puluh</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Pendidikan Agama dan Budi Pekerti</td>\
				<td>75</td>
				<td>90</td>
				<td>Sembilan Puluh</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td colspan="7"><b>B. Kelompok B (Mutan Kewilayahan)</b></td>
			</tr>
			<tr>
				<td>1</td>
				<td >Pendidikan Jasmani, Olahraga & Kesehatan</td>\
				<td>76</td>
				<td>95</td>
				<td>Sembilan Puluh Lima</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td colspan="7"><b>C. Kelompok C (Muatan Kewilayahan)</b></td>
			</tr>
			<tr>
				<td colspan="7"><b>C.2 Paket Keahlian : Rekayasa Perangkat Lunak</b></td>
			</tr>
			<tr>
				<td>7</td>
				<td> Pemodelan Perangkat Lunak</td>
				<td>75</td>
				<td>75</td>
				<td>Tujuh Puluh Lima</td>
				<td>Tercapai</td>
			</tr>
			<tr>
				<td colspan="7"><b>D. Kelompok D (Muatan Lokal) </b></td>
			</tr>
			<tr>
				<td>13</td>
				<td>Pendidikan Lingukngan Hidup</td>
				<td>75</td>
				<td>87</td>
				<td>Delapan Puluh Tujuh</td>
				<td>Terlampaui</td>
			</tr>
			<tr>
				<td colspan="3">Jumlah Nilai</td>
				<td>1060</td>
			</tr>
			<tr>
				<td colspan="3">Rata - rata</td>
				<td>82</td>
			</tr>

			
	</table>
</center>
<br>
<br>
	<center>
			<table border="1">
				<thead>
					<th colspan="8" style="text-align: center;">Ketidakhadiran</th>
				</thead>
				<tr>
					<td>1. </td>
					<td colspan="5">Sakit</td>
					<td>:</td>
					<td>- hari</td>
				</tr>
				<tr>
					<td>1. </td>
					<td colspan="5">Izin</td>
					<td>:</td>
					<td>- hari</td>
				</tr>
				<tr>
					<td>1. </td>
					<td colspan="5">Tanpa Keterangan</td>
					<td>:</td>
					<td>- hari</td>
				</tr>
			</table>

			<br>
			<br>
			<table>
				<tr>
					<td>Mengetahui :</td>
				</tr>
				<tr>
					<td>Orang Tua/ Wali</td>
				</tr>
				
				<tr>
					
						<td>_______________</td>
				</tr>
			</table>
		
		</center>

		
</body>
</html>